@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.AboutUsSection {
    width: 100%;
}

.container {
    padding: 30px 15px;

    @include custom-media(min-width, $tablet-sm) {
        display: flex;
        column-gap: 30px;
        margin: auto;
    }

    @include media(tablet-lg) {
        width: 720px;
    }
    @include media(desktop-sm) {
        width: 940px;
    }

    @include media(desktop-lg) {
        width: 1200px;
    }

    .imageContainer {
        width: 100%;
        text-align: center;

        img {
            max-width: 100%;
            margin-bottom: 60px;
        }
    }

    .textContentContainer {
        width: 100%;

        .textContent {
            margin-bottom: 30px;
            h2 {
                @include Custom-textStyle(2rem, $h2-fontSize-lg, 2.3rem, $secondaryFont, inherit, normal, 700);
                margin-bottom: 3px;
            }
            .subheading {
                font-size: inherit;
                line-height: 1.3;
                margin-top: 8px;
                color: inherit;
            }
        }
    }
}
