@use '../utils/variables' as *;
@use '../utils/mixins' as *;

//?Contact form Styles
.contactUsForm {
    // margin-top: 50px;

    @include custom-media(min-width, $tablet-sm) {
        // width: 50%;
        margin-top: 10px;
        // margin-left: 15px;
    }
    & form {
        display: flex;
        flex-direction: column;
        row-gap: 35px;

        & .formField {
            margin-top: 10px;
            margin-bottom: 5px;
            height: 15px;

            & input:focus,
            textarea:focus {
                border-color: $secondaryColor;
            }

            & span {
                font-size: 13px;
                font-family: $primaryFont;
                color: #b60000;
            }
        }

        .invalidInput {
            border-color: #b60000;
        }

        & .btn_container {
            width: 200px;
            height: 40px;
            display: flex;
            align-items: center;
            margin-top: 75px;
            transition: all 0.3s ease;
            & button {
                width: fit-content;
                padding: 10px 40px;
                margin-right: 10px;
                box-shadow: 0 8px 5px -5px rgba(0, 0, 0, 0.2);
            }

            & .pending {
                pointer-events: none;
                height: 28px;
                width: 28px;
                border: 3px solid transparent;
                border-top-color: #29ca8e;
                border-radius: 50%;
                transition: all 0.3s ease;
                animation: spinner 1s ease infinite;
            }
            @keyframes spinner {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }

            & .successIcon {
                color: #29ca8e;
                height: 35px;
                transition: all 0.3s ease;
            }
            & .hideIcon {
                display: none;
            }
        }
    }
}
