@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.news_section {
    position: relative;
    margin-top: 30px;
    width: fit-content;

    @include custom-media(min-width, $tablet-sm) {
        width: 50%;
    }
}

.container {
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    @include custom-media(min-width, $tablet-sm) {
        row-gap: 18px;
    }
    @include media(tablet-lg) {
        width: 375px;
        row-gap: 12px;
    }
    @include media(desktop-sm) {
        width: 485px;
    }
    @include media(desktop-lg) {
        width: 600px;
    }

    .header_content {
        h2 {
            font-size: $h2-fontSize-lg;
            color: $subText1Color;
        }
        p {
            margin-bottom: 0;
            margin-top: 8px;
        }
    }

    button {
        width: fit-content;
    }
}

.content {
    display: flex;
    column-gap: 22px;
    overflow: hidden;
    background-color: #fafafa;

    &_image {
        width: 100%;
        max-width: 100%;
        height: auto;
        padding-right: 15px;
    }

    &_preview {
        width: 100%;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        a {
            text-decoration: none;
            color: #898989;

            &:visited {
                color: inherit;
            }
        }
        span {
            font-size: $h2-fontSize-sm;
            color: #898989;
        }
        h3 {
            text-transform: uppercase;
            font-size: $h2-fontSize-sm;
            a {
                color: $subText1Color;
            }
        }
        &:nth-child(2) {
            font-size: 13px;
        }
        h3:hover,
        a:hover {
            color: $secondaryColor;
        }

        @include media(tablet-lg) {
            h3 {
                @include Custom-textStyle(15px, 16px, 17px, $secondaryFont, black, normal, 700);
            }
            span {
                @include Custom-textStyle(14px, 15px, 16px, $secondaryFont, inherit, normal, 400);
            }
            padding: 1px 0;
        }
    }
}
