@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.roomAndrates {
    width: 100%;
    display: flex;
    padding: 30px 0;

    @include media(tablet-lg) {
        justify-content: center;
    }
    @include media(desktop-sm) {
        justify-content: center;
    }

    .container {
        @include media(desktop-lg) {
            display: flex;
            margin: auto;
        }
    }
}

.textContainer {
    padding: 30px 0 30px 15px;
    z-index: z-index(rooms&rates_text);

    @include media(desktop-lg) {
        width: 430px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2,
        p {
            width: 260px;
        }
    }

    h2 {
        @include Custom-textStyle(2rem, $h2-fontSize-lg, 2.3rem, $secondaryFont, inherit, normal, 700);
        margin-bottom: 3px;
    }
    p {
        font-size: inherit;
        line-height: 1.3;
        margin-top: 8px;
    }
}

.roomsContainer {
    padding: 0 15px;

    @include custom-media(min-width, $mobile) {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }

    @include media(tablet-lg) {
        width: 720px;
    }
    @include media(desktop-sm) {
        width: 940px;
    }
    @include media(desktop-lg) {
        width: 770px;
    }

    .roomItems {
        position: relative;
        margin-top: 30px;

        @include custom-media(min-width, $mobile) {
            width: 50%;
            padding: 0 15px;
        }

        img {
            max-width: 100%;
            object-fit: cover;
            @include background-style;
        }

        .lable {
            position: absolute;
            top: 0;
            left: 18px;
            background-color: $primaryColor;
            padding: 10px 15px;
            z-index: z-index(rooms&rates_image);

            @include custom-media(min-width, $mobile) {
                left: 28px;
            }

            h2 {
                color: $primaryText2Color;
                font-size: 20px;
                font-weight: 400;
                font-family: $primaryFont;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    color: $secondaryColor;
                }
            }
            p {
                color: $primaryText2Color;
                margin-top: 5px;
                font-family: $secondaryFont;

                span {
                    font-size: 1.375rem;
                    margin-right: 3px;
                }
            }
        }
    }
}
