@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../utils/animations' as *;

.slider {
    position: relative;
    max-width: 100%;
    height: 80vw;
    max-height: 800px;
    width: 100%;
    margin-top: -84px;
    text-transform: uppercase;
    overflow: hidden !important;
    backface-visibility: hidden;
    transform-style: flat;
    transform: translate3d(0px, 0px, 0px);

    @include custom-media(max-width, $desktop) {
        margin-top: 0px;
    }
}
//Current slider
.current {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: z-index(currentSlide);
    button {
        @include Scale-buttonSize(0.75, 2.2, 14px);
        @include media(mobile) {
            border: none;
            font-size: 9px;
        }
    }

    //Slider timer
    &::before {
        position: absolute;
        content: '';
        height: 5px;
        top: 0;
        background-color: black;
        z-index: z-index(Slider_timer);
        animation: slide-progress 6s linear;
        animation-play-state: inherit;
    }
}

.prevSlide {
    @include background-style;
    position: absolute;
    z-index: z-index(prevSlide);
    inset: 0 0 0 0;
}

.caption_0 {
    @include centering(column);
    z-index: z-index(slider_caption);

    h2 {
        @include Custom-textStyle(0.5rem, 3vw, 1.625rem, $secondaryFont, $tertiaryColor, normal, 400);

        span {
            align-items: center;
            padding: 7px;
            img {
                width: 1.6vw;
            }
        }
    }
    h1 {
        @include Custom-textStyle(1rem, 6.6vw, 5rem, $secondaryFont, $tertiaryColor, 9, 400);
    }
    button {
        visibility: hidden;
    }
}

.caption_1 {
    @include centering(column);
    z-index: z-index(slider_caption);

    h2 {
        @include Custom-textStyle(0.4rem, 2.4vw, 1.25rem, $primaryFont, #333, normal, 400);
    }

    h1 {
        @include Custom-textStyle(1rem, 6.6vw, 5rem, $primaryFont, #333, normal, 700);
        display: flex;
        align-items: center;

        small {
            @include Custom-textStyle(0.5rem, 2.6vw, 1.875rem, $primaryFont, #333, 2.5, 500);
            padding: 0 1.6vw;
        }
    }
}

.caption_2 {
    @include centering(column);
    z-index: z-index(slider_caption);
    h2 {
        @include Custom-textStyle(0.5rem, 2.4vw, 1.625rem, $secondaryFont, $tertiaryColor, 3.5, 700);
        letter-spacing: 2vw;
    }

    h1 {
        @include Custom-textStyle(0.5rem, 5vw, 3.75rem, $secondaryFont, $tertiaryColor, 7, 700);
    }
}

#next,
#prev {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: z-index(next-prev_btn);
    visibility: hidden;
    opacity: 0;
    color: $tertiaryColor;
    background-color: rgba(black, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;
    transform: matrix(1, 0, 0, 1, 0, -19);

    &:hover {
        background-color: black;
    }
}

#next {
    right: 1.5%;
}

#prev {
    left: 1.5%;
}

.slider:hover #next,
.slider:hover #prev {
    opacity: 1;
    visibility: visible;
}
