@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.slider {
    position: relative;
    max-width: 100%;
    height: 80vw;
    max-height: 800px;
    width: 100%;
    margin-top: -84px;
    text-transform: uppercase;
    overflow: hidden !important;
    backface-visibility: hidden;
    transform-style: flat;
    transform: translate3d(0px, 0px, 0px);

    @include custom-media(max-width, $desktop) {
        margin-top: 0px;
    }
}

.current {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 25;

    &:hover {
        animation-play-state: paused;
    }

    //Banner timer
    &::before {
        position: absolute;
        content: '';
        height: 5px;
        top: 0;
        background-color: black;
        z-index: 50;
        animation: slide-progress 6s linear;
        animation-play-state: inherit;
    }
}

.prevSlide {
    @include background-style;
    position: absolute;
    z-index: 20;
    inset: 0 0 0 0;
}

.caption_0 {
    @include centering(column);
    z-index: 29;

    h2 {
        @include textStyle(0.4vw, 400, $secondaryFont, $tertiaryColor, 1);
        @include media(mobile) {
            @include textStyle(0.2vw, 400, $secondaryFont, $tertiaryColor, 1);
        }

        span {
            padding: 7px;
        }
    }
    h1 {
        @include textStyle(3.7vw, 400, $secondaryFont, $tertiaryColor, normal);
    }
    button {
        visibility: hidden;
    }
}

.caption_1 {
    @include centering(column);
    z-index: 29;

    h2 {
        @include textStyle(0.05vw, 400, $primaryFont, #333, 1);
        letter-spacing: normal;
        @include media(mobile) {
            @include textStyle(0.05vw, 400, $primaryFont, #333, 1);
            font-size: 2.5vw;
        }
    }

    h1 {
        @include textStyle(3.65vw, 700, $secondaryFont, #333, normal);
        display: flex;
        align-items: center;
        small {
            @include textStyle(0.6vw, 500, $secondaryFont, #333, normal);
            padding: 0 1.7vw;
        }
    }
}

.caption_2 {
    @include centering(column);
    z-index: 29;
    h2 {
        @include textStyle(0.4vw, 700, $secondaryFont, $tertiaryColor, normal);
        letter-spacing: 2vw;

        @include media(mobile) {
            @include textStyle(0.4vw, 700, $secondaryFont, $tertiaryColor, normal);
            font-size: 2.5vw;
            letter-spacing: 1.5vw;
        }
        @include media(tablet-sm) {
            @include textStyle(0.4vw, 700, $secondaryFont, $tertiaryColor, normal);
            font-size: 2.2vw;
            letter-spacing: 1.5vw;
        }
        @include media(tablet-lg) {
            @include textStyle(0.2vw, 700, $secondaryFont, $tertiaryColor, normal);
            letter-spacing: 1.8vw;
        }
        @include media(desktop-sm) {
            @include textStyle(0.3vw, 700, $secondaryFont, $tertiaryColor, normal);
            letter-spacing: 1.9vw;
        }
    }

    h1 {
        @include textStyle(2.5vw, 700, $secondaryFont, $tertiaryColor, normal);
        margin: 1vw 0;
    }
}

#next,
#prev {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    color: $tertiaryColor;
    background-color: rgba(black, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;

    &:hover {
        background-color: black;
    }
}

#next {
    right: 1.5%;
}

#prev {
    left: 1.5%;
}

.slider:hover #next,
.slider:hover #prev {
    opacity: 1;
    visibility: visible;
}
