@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.counter_banner {
    position: relative;
    width: 100%;
    background-image: url('../../assets/images/member-banner.jpg');
    @include background-style;
    background-attachment: fixed;
    object-fit: contain;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    margin-top: 30px !important;
    color: $primaryText2Color;
    z-index: 1;

    &::before {
        position: absolute;
        content: '';
        inset: 0;
        background-color: rgba(68, 68, 68, 0.5);
        z-index: 2;
    }

    //? Banner's content
    & .content {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        margin: auto;
        z-index: 3;

        @include media(tablet-lg) {
            width: 750px;
        }
        @include media(desktop-sm) {
            width: 970px;
        }
        @include media(desktop-lg) {
            width: 1200px;
        }

        //?Counter header
        & .heading {
            text-align: center;

            & h2 {
                color: $primaryText2Color;
                font-size: $h2-fontSize-lg;
                font-weight: 700;
            }
        }
    }
}

//?Counters styles
.counter_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;

    @include custom-media(min-width, $tablet-lg) {
        flex-wrap: nowrap;
    }

    & .counter {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 15px 15px;

        span {
            width: 100%;
            text-align: center;
            text-transform: uppercase;
        }

        :nth-child(1) {
            font-size: 50px;
            font-family: 'Montserrat';
            margin-bottom: 10px;

            @include custom-media(min-width, $tablet-lg) {
                font-size: $h1-fontSize-lg;
            }
        }
        :nth-child(2) {
            font-size: 18px;
        }
    }
}
