//Slider animations
.animate {
    animation-duration: 2s;
    animation-delay: -1s;
    animation-timing-function: ease;
}

.swing-in-top-fwd {
    animation-name: swing-in-top-fwd;
}
.scale-in-center {
    animation-name: scale-in-center;
}
.puff-in-center {
    animation-name: puff-in-center;
}
.crown-bottom-right {
    animation-name: crown-bottom-right;
}
.poster-left {
    animation-name: poster-left;
}
.poster-back-left {
    animation-name: poster-back-left;
}

.text-animate {
    opacity: 1;
    animation-name: delay;
    animation-duration: 2s;
    @keyframes delay {
        0% {
            opacity: 0;
        }
        30% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@keyframes slide-progress {
    0% {
        left: 0;
        width: 0;
    }
    100% {
        width: 100%;
    }
}

//----------------------------------------------

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}
@keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
    0% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes puff-in-center {
    0% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

/**
 * ----------------------------------------
 * animation  crown-bottom-right
 * ----------------------------------------
 */
@-webkit-keyframes crown-bottom-right {
    0% {
        right: 20px;
        bottom: 0;
        opacity: 0;
    }
    100% {
        right: 0;
        bottom: 0;
        opacity: 1;
    }
}
@keyframes crown-bottom-right {
    0% {
        right: 20px;
        bottom: 0;
        opacity: 0;
    }
    100% {
        right: 0;
        bottom: 0;
        opacity: 1;
    }
}

/**
 * ----------------------------------------
 * animation  poster-left
 * ----------------------------------------
 */
@-webkit-keyframes poster-left {
    0% {
        left: 100%;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}
@keyframes poster-left {
    0% {
        left: 100%;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}
