@use '../utils/variables' as *;

//To centering elements
@mixin centering($direction) {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

// Text styles
@mixin Custom-textStyle($min, $preferred, $max, $font, $color, $lineHeight, $weight) {
    --baseline: 1vw;
    font-size: clamp($min, $preferred, $max);
    line-height: calc((var(--baseline) * $lineHeight));
    font-weight: $weight;
    font-family: $font;
    color: $color;
}

//Button styles
@mixin button-color($bg, $color, $bc) {
    background-color: $bg;
    color: $color;
    border-color: $bc;

    &:hover {
        background: #ffce14;
        border-color: transparent;
        color: white;
        transition: all 0.1s ease;
    }
}

@mixin button-size($y, $x, $fontSize) {
    padding: $y $x;
    font-size: $fontSize;
}

@mixin Scale-buttonSize($sizeY, $sizeX, $fontSize) {
    $min: 0.5rem;
    $preferred: 1vw;
    $max: 1.5rem;
    padding: clamp(($min * $sizeY), ($preferred * $sizeY), ($max * $sizeY))
        clamp(($min * $sizeX), ($preferred * $sizeX), ($max * $sizeX));
    font-size: $fontSize;
}

//Background styles
@mixin background-style {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

//Media query
@mixin media($size) {
    @if $size == mobile {
        @media (max-width: #{ $mobile}) {
            @content;
        }
    } @else if $size == tablet-sm {
        @media (min-width: $mobile) and (max-width: #{ $tablet-sm -  0.063em}) {
            @content;
        }
    } @else if $size == tablet-lg {
        @media (min-width: $tablet-sm) and (max-width: #{ $tablet-lg -  0.063em}) {
            @content;
        }
    } @else if $size == desktop-sm {
        @media (min-width: $tablet-lg) and  (max-width: #{ $desktop -  0.063em}) {
            @content;
        }
    } @else if $size == desktop-lg {
        @media (min-width: $desktop) {
            @content;
        }
    }
}

//Custom media query
@mixin custom-media($screen, $device) {
    @if $screen == max-width {
        @media (max-width: $device) {
            @content;
        }
    } @else if $screen == min-width {
        @media (min-width: $device) {
            @content;
        }
    }
}

//Z-index function
@function z-index($key) {
    @return map-get($z-index, $key);
}
