@use '../utils/variables' as *;

//To centering elements
@mixin centering($direction) {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

// Text styles
@mixin textStyle($size, $weight, $font, $color, $lineHeight) {
    font-size: $size;
    font-weight: $weight;
    font-family: $font;
    color: $color;
    line-height: $lineHeight;
}

//Button styles
@mixin button-color($bg, $color, $bc) {
    background-color: $bg;
    color: $color;
    border-color: $bc;

    &:hover {
        background: #ffce14;
        border-color: transparent;
        color: white;
        transition: all 0.1s ease;
    }
}

@mixin button-size($y, $x, $fontSize) {
    padding: $y $x;
    font-size: $fontSize;
}

//Background styles
@mixin background-style {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
