// Colors
$primaryText1Color: #000000;
$primaryText2Color: #fff;
$subText1Color: #232323;
$subText2Color: #444444;
$subText3Color: #acacac;

$primaryColor: #344a71;
$primaryDark1Color: #1f232b;
$primaryDark2Color: #2a2f3c;
$primaryLightColor: rgba(52, 74, 113, 0.85);

$secondaryColor: #e7c130;

$tertiaryColor: #fff;

//FONTS
$primaryFont: 'Hind';
$secondaryFont: 'Montserrat';

// Font Sizes
$p-fontSize-sm: 0.75rem;
$p-fontSize-md: 0.875rem;
$p-fontSize-lg: 0.938rem;

$h2-fontSize-sm: 1.25rem;
$h2-fontSize-md: 1.625rem;
$h2-fontSize-lg: 1.625rem;

$h1-fontSize-lg: 3.75rem;
$h1-fontSize-xl: 5rem;

// Screen sizes
$mobile: 30em;
$tablet-sm: 48em;
$tablet-lg: 62em;
$desktop: 75em;

/*************************
       Z-index map
**************************/
$z-index: (
    header_content: 1000,
    submenu: 990,
    arrow_dropdown: 980,
    next-prev_btn: 950,
    Slider_timer: 940,
    slider_caption: 930,
    currentSlide: 920,
    prevSlide: 910,
    check_availability: 890,
    check_availability_title: 850,
    check_availability_form: 850,
);
