@use '../../styles/utils/variables' as *;
@use '../../styles/utils/mixins' as *;

.blogs {
    padding: 0 15px;

    .blog_article {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        margin-bottom: 35px;

        & .image_container {
            position: relative;
            width: fit-content;
            overflow: hidden;
        }

        .blog_header {
            display: flex;

            & .blog_date {
                text-align: center;
                width: 70px;
                height: 70px;
                font-size: 16px;
                font-weight: 500;
                font-family: 'Montserrat';
                color: #000;
                border: 2px solid black;
                margin-right: 20px;
                display: none;
                & :first-child {
                    font-size: 28px;
                }

                @include custom-media(min-width, $mobile) {
                    display: grid;
                    place-content: center;
                }
            }
        }

        & .title_container {
            h2 {
                font-size: 16px;
                text-transform: uppercase;

                @include custom-media(min-width, $tablet-sm) {
                    font-size: 18px;
                }
                & a {
                    text-decoration: none;
                }
            }

            p {
                font-size: 14px;
                font-weight: 700;
                color: #898989;
                margin-bottom: 0;

                & :first-child::before {
                    content: '|';
                    color: black;
                    margin-right: 5px;
                }
            }
        }

        .blog_textContent {
            & :first-child {
                margin-top: 0;
            }
            @include custom-media(min-width, $mobile) {
                margin-left: 85px;
            }
        }
    }
}
